#back {
    position:absolute;
    left:10%;
    top:15%;
    height:30px;
    background-color: white;
    border:1px solid grey;
    color:black;

}
#t2{
  margin-left:80px;
  margin-right:80px;    
}
#t1{
    margin-left:40px;
    margin-right:40px;    
  }
#t3{
    margin-left:100px;
    margin-right:100px;    
  }
th {
    border:1px solid grey;
    height:0px;
}
h2 {
    position:absolute;
    top:20%;
    left:10%;
}
#table {
    position:absolute;
    top:30%;
    left:5%;
}